canvas {
  display: block;
  margin: 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif; /* Заносим шрифт из Google Fonts в весь проект и обозначаем то, как его именовать в нём. Через запятую обозначено "семейство" шрифта (прямой и без засечек, в данном случае). Если шрифты не загрузятся с сайта, будут использованы те, что имеются на ПК пользователя из данного семейства шрифтов */
    margin: 0;
    background-color: rgb(104, 48, 95);
}

h1{
  display: flex;
  justify-content: center; /* Выравниваем по вертикали */
  align-items: center; /* Выравниваем по горизонтали */

  color: rgb(255, 255, 255);
  font-size: 2rem;  /* Адаптивный размер шрифта. Можно ещё использовать просто "em",
  только надо циферку перед "em" и "rem" ставить, чтобы размер регулировать */
}

h2{
    color: black;  /* Цвет шрифта */
    font-size: 32px;  /* Размер шрифта */
    margin-bottom: 32px; /* Делаем отступ "bottom" значит вниху */
    background-color: #C0C0C0; /* Фоновый цвет */
    border: 2px solid gray; /* Рамка (border), её тип (сплошная (solid)) и её цвет */
    padding-left: 15px; /* Делаем отступ слева от рамки */
}

a {
  color: rgb(255, 255, 255);
  font-size: 32px;
}
